@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    text-align: center;
    font-family: 'Poppins';
    background: #0C0C0C;
    color: #ffe100;
}

img {
    width: 30%;
}